body{
    color: white;
}

.container{
    background: url('/assets/gold.jpg') center center/cover;
    background-color: rgba(255, 255, 255, 0.185);
    display: flex;
    padding: 214px;
}

.left{
    background-color: rgba(0, 0, 0, 0.351);
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
}

.right{
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.right img{
    height: 300px;
    width: 300px;
}

#claimBtn{
    font-size: 40px;
    margin: 30px;
}

.footer{
    color: black   ;
    display: flex;
    align-items: center;
    flex-direction: column;
}
