
p{
    font-size: 30px;
}

.home{
    background: url(/assets/ch.jpg) center/cover repeat;
    padding: 30px;
}

.item-left{
    background-color: #f6ddff;
    opacity: 0.4;
    display: block;
    margin: 150px;
    border: 2px solid rgb(237, 5, 5);
    border-radius: 20px;
    padding: 100px;
}
.item-left:hover{
    opacity:0.8;
}

.text{
    color: #f70e0e;
}

.playbtn{
    font-size: 25px;
    background-color: #ef0b0b;
    margin-top: 9px;
    padding: 5px 48px;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    transition: all 0.5s ease;
    cursor: pointer;
}

.playbtn:hover{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}